.list {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.toolbar {
  position: absolute;
  bottom: 100px;
  right: 100px;
  display: flex;
  gap: 15px;
  z-index: 2;
  align-content: center;
  align-items: center;
}

.addButton {
  background-color: var(--primary);
  color: white;
  width: 75px;
  height: 75px;
}

.addButton::ng-deep .mat-button-wrapper {
  padding: 0px;
}

.addButton::ng-deep .mat-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.listClothe {
  display: flex;
  gap: 40px 24px;
  flex-wrap: wrap;
  justify-content: center;
}
