.formulaire {
  display: flex;
  flex-direction: column;
  margin-top: 2rem !important;
}

.label {
  font-weight: 500;
  font: inherit;
}

.submitButton {
  background-color: var(--primary);
  border-radius: 9999px !important;
  color: var(--on-primary);
}

.buttonBar {
  display: flex;
  justify-content: flex-end;
}

.listPort {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 2rem
}

.port {
  flex: 1 0 calc(25% - 2rem);
  max-width: calc(25% - 2rem);
}
