<div class="page">
  <div class="titlebox">
    <h2 class="title">Box Settings</h2>
    <div *ngIf="!isLoading" class="subtitle">Settings of {{box.name ? "\'" + box.name + "\'" : 'Not Define'}} box</div>
  </div>

  <div class="loadingBox">
    <mat-spinner *ngIf="isLoading" diameter="100"></mat-spinner>
  </div>

  <ng-container *ngIf="!isLoading">
    <form [formGroup]="boxSettingsForm" class="formulaire" (ngSubmit)="onSubmit(boxSettingsForm.value)">

      <mat-form-field floatLabel="always"  appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput required>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput></textarea>
      </mat-form-field>

      <div class="buttonBar">
        <mat-spinner *ngIf="isLoadingSave" diameter="36"></mat-spinner>
        <button *ngIf="!isLoadingSave" class="submitButton" mat-flat-button type="submit" [disabled]="!boxSettingsForm.valid">Save</button>
      </div>
    </form>

    <div class="titlebox" style="padding-top: 2rem;">
      <h2 class="title">Port Settings</h2>
      <div class="subtitle">Port settings of '{{box.name}}' box</div>
    </div>

    <div class="listPort">
      <div class="port" *ngFor="let port of box.ports">
        <app-port [id]="id" [port]="port"></app-port>
      </div>
    </div>
  </ng-container>

</div>
