<div class="port">
  <div class="topConfig">
    <div class="top">
      <dot-indicator [connected]="port.activated" [working]="port.running" [startOfTooltip]="'The port is'"></dot-indicator>
      <mat-icon *ngIf="!port.device" [matTooltip]="'Port is not define'">question_mark</mat-icon>
      <ng-container *ngIf="port.device">
        <mat-icon *ngIf=" port.device.type === 'trigger'" [matTooltip]="'Trigger type'">handyman</mat-icon>
        <mat-icon *ngIf="port.device.type === 'sensor'" [matTooltip]="'Sensor type'">sensors</mat-icon>
      </ng-container>

      <span class="boxName">{{port.name ? port.name : 'Not define' }}</span>
    </div>
    <button mat-icon-button [matTooltip]="'Config Port'" (click)="open()">
        <mat-icon class="mat-18">edit</mat-icon>
    </button>
  </div>
  <div class="other">
    <span class="titleInfo">Port Info</span>
    <span>Port: {{port.pin}}</span>
    <span *ngIf="port.protocols">Protocol Accepted: {{port.protocols.join(', ')}}</span>
    <ng-container *ngIf="port.device">
      <mat-divider style="margin-top: 10px;margin-bottom: 10px;"></mat-divider>
      <span span class="titleInfo">Device Info</span>
      <span >Device model: {{port.device.deviceModel}}</span>
      <span >Protocol: {{port.device.protocol}}</span>
      <span *ngIf="port.device.type === 'sensor'">Value: {{valueReturn()}}</span>
    </ng-container>
  </div>
</div>
