.dot {
  height: 25px;
  width: 25px;
  min-width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: block;

}

.dotRed {
  background-color: rgb(221, 29, 29);
}

.dotGreen {
  background-color: rgb(19, 206, 75);
}

.dotYellow {
  background-color: rgb(212, 159, 12);
}
