.boxName {
  font-size: 1rem !important;
  font-weight: 500 !important;
  line-height: 1.5rem !important;
  letter-spacing: -0.025em !important;
}

.listAction {
  display: flex;
}

.desc {
  margin-right: 16px;
}

.boxDesc {
  font-size: 0.75rem !important;
  font-weight: 500 !important;
  line-height: 1.5rem !important;
  letter-spacing: -0.025em !important;
}
