<mat-expansion-panel class="box" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="autoHeight">
      <mat-panel-title>
        <dot-indicator [connected]="box.connected" [working]="box.running" style="margin-right: 16px;" [startOfTooltip]="'The box is'"></dot-indicator>
        <span class="boxName">{{box.name ? box.name : 'No Name'}}</span>
      </mat-panel-title>
      <mat-panel-description style="justify-content: space-between;">
        <span class="boxDesc">{{box.description}}</span>
        <span class="listAction">
          <button mat-icon-button (click)="goToBox($event, '/settings')" matTooltip="Click to go to the settings page of this device">
              <mat-icon>settings</mat-icon>
          </button>
          <button mat-icon-button (click)="goToBox($event, '/schema')" matTooltip="Click to go to the schema page of this device">
            <mat-icon>schema</mat-icon>
          </button>
          <button mat-icon-button (click)="goToBox($event, '/metrics')" matTooltip="Click to go to see the current metrics of this device">
            <mat-icon>speed</mat-icon>
          </button>
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      Some deferred content
    </ng-template>
</mat-expansion-panel>
