<div class="port">
  <div class="topConfig">
    <div class="top">
      <dot-indicator [connected]="port.activated" [working]="port.running" [startOfTooltip]="'The port is'"></dot-indicator>
      <mat-icon *ngIf="!port.device" [matTooltip]="'Port is not define'">question_mark</mat-icon>
      <ng-container *ngIf="port.device">
        <mat-icon *ngIf=" port.device.type === 'trigger'" [matTooltip]="'Trigger type'">handyman</mat-icon>
        <mat-icon *ngIf="port.device.type === 'sensor'" [matTooltip]="'Sensor type'">sensors</mat-icon>
      </ng-container>

      <span class="boxName">{{port.pin}}</span>
      <span class="boxName"> {{port.name ? port.name : 'Not define' }}</span>
    </div>
<!--     <button mat-icon-button [matTooltip]="'Config Port'" (click)="open()">
        <mat-icon class="mat-18">edit</mat-icon>
    </button> -->
  </div>
  <div class="other">
    <div class="metrics">
      <div class="metric" *ngFor="let item of getMetric()">
        <span class="oneMetric">{{lastData(item.name)}}</span>
        <span class="titleMetric">{{item.name}}</span>
      </div>
    </div>
  </div>
</div>
