
<div class="mat-dialog-div">
  <div class="mat-dialog-body">
    <div class="mat-dialog-header">
      <h1 *ngIf="data.clothe" mat-dialog-title>Modify Clothe {{data.clothe.name}}</h1>
      <h1 *ngIf="!data.clothe" mat-dialog-title>Create new Clothe</h1>
      <div class="closeButton">
        <button mat-icon-button (click)="cancel()" tabindex="-1">
            <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div mat-dialog-content>
      <form [formGroup]="Form" id="myForm" class="formulaire" (ngSubmit)="onSubmit(Form.value)">

        <mat-form-field floatLabel="always"  appearance="outline">
          <mat-label>Name</mat-label>
          <input [formControl]="Form.controls.name" matInput required>
        </mat-form-field>

        <mat-form-field floatLabel="always"  appearance="outline">
          <mat-label>Clothe Available</mat-label>
          <input [formControl]="Form.controls.stock" type="number" matInput required>
        </mat-form-field>

        <mat-form-field floatLabel="always"  appearance="outline">
          <mat-label>Price</mat-label>
          <input [formControl]="Form.controls.price" type="number" matInput required>
        </mat-form-field>

      </form>
    </div>
  </div>
  <div mat-dialog-actions>

    <button class="submitButton" style="background-color: green;border: none!important" mat-stroked-button type="submit" form="myForm" [disabled]="!Form.valid">Save</button>
    <button (click)="cancel()" style="background-color: red;border: none!important" mat-stroked-button>Cancel</button>

  </div>
</div>


