#mycanvas {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
}

.editor-area {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.toolbar {
  position: absolute;
  bottom: 100px;
  right: 100px;
  display: flex;
  gap: 15px;
  z-index: 2;
  align-content: center;
  align-items: center;
}

.deploy {
  background-color: var(--primary);
  color: white;
}

.clear {
  background-color: red;
  color: white;
  margin-top: 5px;
}

.resetToDefault {
  color: white;
  background-color: rgb(240, 95, 43);
  margin-top: 5px;
}

.tuto {
  background-color: #673ab7;
  color: white;
  margin-top: 5px;
}

.deploy::ng-deep .mat-button-wrapper {
  padding: 0px;
}

.deploy::ng-deep .mat-icon {
  font-size: 35px;
  height: 35px;
  width: 35px;
}

.resetToDefault::ng-deep .mat-button-wrapper {
  margin-top: -6px;
}

.loadingScreen
{
    position:absolute;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.32);
    z-index: 1000;
}
